<article id="article{{ article.id }}">
    <header>
        <img alt="article n°{{ article.id }}" src="/assets/images/articles/{{ article.img }}">
    </header>
    <h5>{{ article.title }}</h5>
    <p>{{ article.intro }}</p>
    <footer>
        <a href="{{ article.link }}" role="button">Read More</a>
    </footer>
</article>